h2.entry-title {
    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: blue;
    }
}

article.type-post {
    padding-top: $table-cell-padding-y;
    border-top: 1px solid grey;
    
    }

#content {
    background-color: $light;
}
