h2.entry-title {
    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: blue;
    }
}

$lecape-padding: $grid-gutter-width/2;
article.type-post {
    
    }

#content {
    background-color: $light;
    padding-top: $lecape-padding;
    padding-bottom: $lecape-padding;
}

.wrapper {
    padding: $lecape-padding 0;
}
